anyio==3.6.1
appdirs==1.4.4
asgiref==3.5.2
black==22.6.0
click==8.1.3
contextvars==2.4
flake8==5.0.4
h11==0.13.0
htmltools==0.1.2
idna==3.3
immutables==0.18
linkify-it-py==2.0.0
markdown-it-py==2.1.0
mccabe==0.7.0
mdurl==0.1.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
pycodestyle==2.9.1
pyflakes==2.5.0
pyparsing==3.0.9
python-multipart==0.0.5
shiny==0.2.4
six==1.16.0
sniffio==1.2.0
starlette==0.20.4
tomli==2.0.1
typing_extensions==4.3.0
uc-micro-py==1.0.1
uvicorn==0.18.2
websockets==10.3
